<mat-card class="footer-card">
  <mat-card-content>
    <div class="container grid">
      <img
        src="https://img.freepik.com/vetores-gratis/petshop-com-gato-e-cachorro_9645-763.jpg"
        class="footer-image"
      />
      <div class="row">
        <div class="col-8 col-sm-6 col-md-8 col-lg-9">
          <span class="material-icons icon-cell" style="font-size: 15px"
            >home</span
          >
          <i>{{ parameters.address }} - {{ parameters.address_complement }} </i>
          <i style="display: block"
            >{{ parameters.zip_code }} {{ parameters.city }}-{{
              parameters.state
            }}</i
          >
          <ng-container *ngFor="let phone of parameters.phones">
            <img
              *ngIf="phone.type == 'whatsapp'"
              class="icon-cell"
              src="https://imobzi.storage.googleapis.com/image/redes-sociais/whatsapp_gray.svg"
            />
            <span
              *ngIf="phone.type == 'Principal'"
              class="material-icons icon-cell"
              style="font-size: 15px"
            >
              phone</span
            >
            <i> {{ phone.country_code }} {{ phone.number }} </i>
          </ng-container>
        </div>
        <div class="col-4 col-sm-6 col-md-4 col-lg-3">
          <p>Siga-nos nas Redes Sociais</p>
          <ng-container
            *ngFor="let social of parameters.social_networks"
            class="social"
          >
            <a
              href="{{ socialUrls[social.name] }}{{ social.account }}"
              target="_blank"
              title="{{ social.name }}"
            >
              <img class="image-icon" src="{{ imagesUrl[social.name] }}" />
            </a>
          </ng-container>
        </div>
      </div>
      <div class="trademark">@Petstore</div>
    </div>
  </mat-card-content>
</mat-card>
