<!--Container principal-->
<mat-sidenav-container>
  <!--Sidenav tipo over-->
  <mat-sidenav #sidenav mode="over">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        style="position: absolute; right: 7px"
        aria-label="Close"
        class="header-button"
        (click)="sidenav.toggle()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <!--Botões para acessar as páginas-->
    <div *ngFor="let menu of menus" class="container grid menu">
      <button
        class="menu-button"
        mat-button
        (click)="showPage(menu.router, sidenav)"
      >
        {{ menu.name }}
      </button>
    </div>
  </mat-sidenav>

  <!--Content com todo o html da página-->
  <mat-sidenav-content>
    <!--Botão para abrir e fechar o menu-->

    <p>
      <mat-toolbar color="primary">
        <button
          mat-icon-button
          aria-label="Menu"
          class="header-button"
          (click)="sidenav.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span [routerLink]="['/']">Pet Store</span>
        <button (click)="installPwa()">
          Install
        </button>
      </mat-toolbar>
    </p>
    
    <!--router que renderizará as páginas-->
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
