<div class="container grid banner-container">
  <div class="row">
    <div class="col-12">
      <img
        src="https://petshop-sp.ue.r.appspot.com/static/images/banner-1.png"
        class="img-responsive center-block"
        alt="Medicamentos com descontos"
      />
    </div>
  </div>
  <div class="container">
    <app-categories-featured></app-categories-featured>
  </div>
</div>
<!-- Sessão referente aos produtos em destaque -->
<section class="container grid" *ngIf="products">
  <div class="row">
    <!-- Coluna referente ao titulo -->
    <div class="col-12">
      <h2>Produtos em destaque</h2>
    </div>
    <!-- Loop dos produtos -->
    <div
      class="col 12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let product of products"
    >
      <!-- Aqui chamamos o componente app-product-item -->
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</section>
